In [1]:
from mysql_connector import MysqlConnector
import numpy as np
import matplotlib.pyplot as plt
#import matplotlib.finance as mpf
from matplotlib import ticker
import matplotlib.dates as mdates
from datetime import datetime, timedelta
import mpl_finance as mpf
import pandas as pd
from pylab import plot


mysql_connector = MysqlConnector()
sql = "select start_price, end_price, max_price, min_price, insert_time from %s_%s_TABLE where insert_time < \'%s\' order by insert_time desc limit %s" % ()
resposne = mysql_connector.select_sql(sql)
price_list = []
date_list = []

for res in response:
    tmp = []
    tmp.append(res[0])
    tmp.append(res[2])
    tmp.append(res[3])
    tmp.append(res[1])
    date_list.append(res[4])
    price_list.append(tmp)

price_list.reverse()
date_list.reverse()

f = pd.DataFrame(price_list, columns=["open", "high", "low", "close"], index=date_list)
candlechart(f)

ImportError: No module named 'mysql_connector'